/* This is a comment Ctrl+/ */

/* 

selector {
    property: value;
    property: value;
}
*/

p {
    font-size: 16px; /* 16px = 1em */
    line-height: 1.5em; 
    
}

figcaption {
    /* font-weight: normal;
    font-size: 0.75;
    line-height: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif; */
    font: normal 0.75em/1.5em Georgia, 'Times New Roman', Times, serif;
    color: #777; 
} 

.milk-text {
    font: bold 2.6em Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 0 2px 3px #000; 
}

#logo {
    background: aqua;
}

/* Descendent Selector */

#logo h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo h2 {
  font-family: fantasy
}

/* Psuedo Selector */

#details a:link {
    color: black;
    text-decoration: none; 
}

#details a:hover {
    color: black;
    text-decoration: underline; 
}